<%- include('header') -%>

<div class="container text-center my-3">
    <h1>Undir&shy;skriftar&shy;listi - umsjón</h1>
    <a href="/logout">Srká út</a>
</div>


<%- include('list') -%>

<%- include('footer') -%>
